{% if include.float == "right" %}<div class="imgright imgcap">{% else %}<div class="imgcenter imgcap">{% endif %}

{% unless include.gifplayer %}
{% if include.link %}
<a href="{{ include.src }}" target="_blank">
{% endif %}
{% endunless %}
<img src="{{ include.src }}" 
 id="{{ include.id }}" 
 class="{{ include.class }}" 
 width="{{ include.width | default: 100% }}"
 height="{{ include.height | default: 100% }}" />
{% unless include.gifplayer %}
{% if include.link  %}
</a>
{% endif %}
{% endunless %}
{% if include.caption  %}
<div class="thecap">{{ include.caption }}</div>
{% endif %}
</div>

{% if include.gifplayer %}
<script>
    $('#{{ include.id }}').gifplayer({label:'play'});
</script>
{% endif %}
