/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
/*         color: $grey-color-dark; */
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
/*         color: $text-color; */
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
	background-color: #fff;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
    font-weight: bold;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

	.post-date {
	    font-size: $small-font-size;
		color: $grey-color;
	}
    
	.post-excerpt {
        font-size: $small-font-size;
	}

	.post-link {
		display: block;
		font-size: 18px;
	}
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.start-intro {
    margin-bottom: $spacing-unit;
    font-size: $small-font-size;
}

.intuitivemi-intro {
    margin-bottom: $spacing-unit;
    font-size: $small-font-size;
}

.rel-post-nav {
	display: block;
	width: 100%;
	
	a {
	    font-family: $header-font-family; 
	    color: $brand-color;	
	}
	
	.left {
		display:block;
		float: left;
		width: 50%;
		text-align:left;
		margin-bottom: 25px;
	}
	.right {
		display:block;
		float: right;
		width: 50%;
		text-align:right;
		margin-bottom: 25px;
	}
}


.intuitivemi-post-list {
	margin-left: 35px;
	list-style-type: decimal;

    > li {
        margin-bottom: $spacing-unit;
    }

	.post-date {
	    font-size: $small-font-size;
		color: $grey-color;
	}
    
	.post-link {
		display: block;
		font-size: 18px;
	}
}

.pseudoformula {
	padding: 5px 0 5px 5px;
	margin: 5px 0 10px $spacing-unit;
	background: $grey-color-light;
}

/*
 Extras
 */

.twitter-plug {
	border-top: 1px solid $grey-color-light;
	border-bottom: 1px solid $grey-color-light;
	font-size: $small-font-size;
    padding-top: 0.5*$spacing-unit;
    padding-bottom: 0.5*$spacing-unit;
}


/* http://johnsardine.com/freebies/dl-html-css/simple-little-tab/ */
table.data-table a:link {
/* 	color: #666; */
	font-weight: bold;
	text-decoration:none;
}
table.data-table a:visited {
/* 	color: #999999; */
	font-weight:bold;
	text-decoration:none;
}
table.data-table a:active,
table.data-table a:hover {
/* 	color: #bd5a35; */
	text-decoration:underline;
}
table.data-table {
	font-family:Arial, Helvetica, sans-serif;
/* 	color:#666; */
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin: 0.5*$spacing-unit 0 0.5*$spacing-unit $spacing-unit;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table.data-table th {
	padding:9px;
/* 	padding:21px 25px 22px 25px; */
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table.data-table th:first-child {
	text-align: left;
	padding-left:20px;
}
table.data-table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.data-table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.data-table tr {
	text-align: center;
	padding-left:20px;
}
table.data-table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table.data-table td {
	padding:9px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table.data-table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.data-table tr:last-child td {
	border-bottom:0;
}
table.data-table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table.data-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.data-table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}