---
layout: default
title: Intuitive Machine Intelligence
permalink: /intuds/
menu-pos: 2
---

<div class="home">

  <h1 class="page-heading">{{ page.title }}</h1>

  <div class="intuds-intro">
  In this series of articles I want to give you an <strong>intuitive</strong> understanding of what <strong>machine intelligence</strong> does.</p>
<p><strong>What is machine intelligence?</strong> It summarizes efforts in the fields of <em>machine learning</em> (<em>data mining</em>, <em>statistical learning</em>, <em>big data</em>, ...), <em>artificial intelligence</em> and <em>robotics</em> to equip machines with human-like capabilities by enabling them to <em>learn</em>. It has become one of the most pervasive and fastest developing technologies of our times. Yet, to non-experts it remains largely obscure and magic how machines learn by themselves from data. This causes the problem of researchers oversimplifying/overselling their research and the public over-/underestimating the state of the art.
In this series of articles I want to alleviate this problem by intuitively explaining the state of the art in these fields to non-experts.</p>
<p><strong>What does intuitive mean?</strong> Intuitive means that I will not use any formulas, but only explain high-level concepts and ideas. The reason is that I deeply believe that even the most advanced technologies in this area have a rather simple underlying idea. This idea can be explained visually, using analogies, and by resorting only to high school math. Once you understand this idea, you can already understand the limitations and implications of the technology. If you then want to learn about the details and dig into the full math, knowledge of the high-level concept will enable you to grasp them much more easily. <br/>
If you want to read more about my particular motivation, check out the <a title="Disclaimer: Why No Formulas" href="{% post_url 2015-07-19-why-no-formulas %}">full disclaimer</a>.</p>
<p><strong>For whom is this blog?</strong> On one hand I want to enable non-scientists to understand this exciting field of machine intelligence without struggling with all the obscure details. 
On the other hand I want to give students and scientists an intuition which helps developing a detailed understanding.</p>
<p><strong>How is this blog different from a textbook X/website Y/course Z?</strong> These articles cannot substitute a good textbook or university course. If you want to learn the details about machine intelligence the articles can be complementary and be read as an introduction to other resources.</p>
			  </div>
      
  <h1 class="page-heading">Articles</h1>

  <div class="intuds-intro">
<p>If you are new to the topic of machine intelligence, I recommend to read these articles in order since the first ones cover basic concepts used in later articles.</p>
</div>

  {% assign last_category = 0 %}
  {% assign items = site.categories.intuds | sort: 'intuds-weight' %}
    {% for post in items %}
	  {% if last_category != post.intuds-category %}      

		  {% if last_category != 0 %}      
  </ol>
		  {% endif %}
	      <h3 style="color:black">{{post.intuds-category}}</h3>
  <ol class="intuds-post-list">
	  {% endif %}
	    
	  {% assign last_category = post.intuds-category %}
      <li style="margin-bottom: 0px">
	      	
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
<!--         (<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>)  -->
      </li>
    {% endfor %}
  </ol>

<!-- 
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 -->
 
</div>
